/* GRID GENERAL */
.form-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* COLUMNAS */
.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* FIELD */
.field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

/* BOTÓN FILE */
.file-upload {
  display: flex;
  align-items: center;
}

.file-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.6rem 1rem;
  border-radius: 8px;

  background: #0b64d9;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;
}

.file-button:hover {
  background: #084ea8;
  transform: translateY(-1px);
}

/* ERROR */
.error {
  color: #d32f2f;
  font-size: 0.75rem;
}

.image-preview-card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  border-radius: 12px;
  border: 2px dashed #dcdfe6;

  background: #fafbfc;
  margin-top: 0.5rem;

  transition: all 0.2s ease;
}

.image-preview-card:hover {
  border-color: #0b64d9;
}

/* Imagen */
.image-preview-card img {
  max-width: 90%;
  height: 90%;
  object-fit: contain;
}

/* Placeholder */
.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  color: #9aa4b2;
  font-size: 0.85rem;
}

.placeholder i {
  font-size: 2rem;
}
/* ACCIONES */
.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 0.6rem;
  margin-top: 1.5rem;
}

/* FULL WIDTH */
.full-width {
  grid-column: 1 / -1;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
